<%- include("partials/header")-%>
  <div class="content">
      
    
     <div class="container1">
    <h1 class="max-w-sm text-3xl font-bold ">Civil Notes</h1>

    <div class="card1">
      <h2>First Year</h2>
      <p>Download notes for first-year engineering subjects.</p>
      <div id="wrap"><a class="btn" href="/1">Download </a></div>
    </div>

    <div class="card1">
      <h2>Second Year</h2>
      <p>Download notes for second-year engineering subjects.</p>
      <div id="wrap"><a class="btn" href="/civil/2">Download </a></div>
    </div>

    <div class="card1">
      <h2>Third Year</h2>
      <p>Download notes for third-year engineering subjects.</p>
      <div id="wrap"><a class="btn" href="#/3">Download </a></div>
    </div>

    <div class="card1">
      <h2>Fourth Year</h2>
      <p>Download notes for fourth-year engineering subjects.</p>
      <div id="wrap"><a class="btn" href="#/4">Download</a></div>
    </div>

    <!-- Add more cards for other branches if needed -->
    </div>
     </div>
     
     <!--college card-->
   
     <div class="container">
      <h1 class="max-w-sm text-3xl font-bold ">University </h1>
 <div class="card-container">
     
    <div class="card">
      <div class="card-content">
        <img class="University" src="aktunotes\images\aktu.png"/>
        <h3 class="card-title">AKTU</h3>
        
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <img class="University" src="aktunotes\images\aktu.png"/>
        <h3 class="card-title">AKTU</h3>
        
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <img class="University" src="aktunotes\images\aktu.png"/>
        <h3 class="card-title">AKTU</h3>
        
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <img class="University" src="aktunotes\images\aktu.png"/>
        <h3 class="card-title">AKTU</h3>
        
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <img class="University" src="aktunotes\images\aktu.png"/>
        <h3 class="card-title">AKTU</h3>
        
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <img class="University" src="aktunotes\images\aktu.png"/>
        <h3 class="card-title">AKTU</h3>
        
      </div>
    </div>
    </div>
    
  </div> 


  <%- include("partials/footer")-%>